<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>

<body>
  <% include ./partials/_header %>
  <% function urlsForUser(user_id){%>
      
  <%  }  %>
   <% return userURLS; %>


  <div class="table-responsive">
    <table class="table table-hover " bgcolor="skyblue">
      <th bgcolor="skyblue"> YOU ARE ELLS</th>
      <th bgcolor="skyblue"> Shortened! </th>
      <% for(let url in userURLS) { %>
      <tbody>
        <tr bgcolor="pink">
          <td> <%=url%> ----> <a href="<%=urls[url]%>"><%= userURLS[url].longURL %></a></td>
          <td> <a href="/urls/<%= url %>"> Edit </a></td>
          <td>
            <form method="POST" action="/urls/<%= url %>/delete"><button class="btn btn-danger btn-lg">Delete</button>
            </form>
          </td>
        </tr>

        <% } %>
      </tbody>
    </table>
  </div>
</body>

</html>