<!DOCTYPE html>
<html>

<body>
    <% include ./partials/_header %>
    <table class="table table-hover" bgcolor="skyblue">
        <tbody>
            <tr bgcolor="lightpink">
                <td>
                    <a href="<%=urls[shortVersion].longURL%>"> <%=longVersion.longURL %> -----------> </a>
                </td>
                <td> <a href="<%=urls[shortVersion].longURL%>"> <%=shortVersion%> </td>
            </tr>
            <tr>
                <form method="POST" action="/urls/<%= shortVersion %>"><input type="text" name="longURL"
                        placeholder="Enter updated URL"><button class = "btn-info btn-lg">Update</button></input> </form>
                </td>
        </tbody>
    </table>


</body>

</html>